<header class="site-header">
  {% if page.lang == 'ko' %}
    {% assign home_url = '/ko/' %}
  {% else %}
    {% assign home_url = '/' %}
  {% endif %}
  <div class="site-container header-image-container">
    <a class="header-image-link" href="{{ home_url | relative_url }}" aria-label="Go to home">
      <img class="header-image" src="{{ '/assets/images/header.png' | relative_url }}" alt="Photogrammetry, Remote Sensing and Geoinformatics Lab, Jeonbuk National University">
    </a>
  </div>
</header>
